#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#AudioComponent{
  border: 2px solid white;
}

#fileUploader{
  border: 2px solid white;
}

#Scene{
  border: 2px solid white;
}

#Timer{
  border: 2px solid white;
}